version 5.193.0
source https://www.nuget.org/api/v2

storage:none

nuget Fable.Core
nuget FSharp.Core redirects:force
nuget Fable.Import.Browser
nuget Newtonsoft.Json >= 11.0.2
nuget Expecto
nuget Argu 5.1
nuget Fable.Elmish prerelease
nuget Fable.React
nuget Fable.Import.HMR
nuget Giraffe
nuget Fulma
nuget Fable.Promise

group fablecore3
    source https://www.nuget.org/api/v2
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fable.Core prerelease
    nuget Fable.Elmish prerelease
    nuget Fable.React prerelease
    nuget Fable.Promise prerelease

# Save Newtonsoft pkg in repo dir so we
# can access it with F# interactive
group newtonsoft
    source https://www.nuget.org/api/v2
    framework >= net45
    nuget Newtonsoft.Json 11.0.2

group netcorebuild
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    clitool dotnet-fake
    nuget NETStandard.Library.NETFramework
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.Core.ReleaseNotes
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
    nuget Fake.JavaScript.Yarn

group Docs
    storage:none
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget FSharp.Core redirects:force
    nuget Fable.Core
    nuget Fable.Import.Browser
    nuget Fable.React
    nuget Fable.PowerPack
    nuget Fable.Import.Node
    nuget Fulma
    nuget Fable.FontAwesome
    nuget Fable.FontAwesome.Free

    github akamud/vscode-theme-onelight themes/OneLight.json
    github ionide/ionide-fsgrammar grammar/fsharp.json

group Demos
    storage:none
    references: strict
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget FSharp.Core redirects:force
    nuget Fable.Core
    nuget Fable.Elmish prerelease
    nuget Fable.Elmish.React prerelease
    nuget Fable.Elmish.Browser prerelease
    nuget Fable.Elmish.Debugger prerelease
    nuget Fable.Elmish.HMR prerelease
    nuget Fable.PowerPack
    nuget Fable.React
    nuget Fulma
    nuget Fulma.Extensions.Wikiki.Tooltip
    nuget Fulma.Extensions.Wikiki.Switch
    nuget Fulma.Extensions.Wikiki.Checkradio
    nuget Fable.FontAwesome
    nuget Fable.FontAwesome.Free
    nuget Fable.Import.HMR
