@import "./../../node_modules/bulma/sass/utilities/initial-variables";

// Bulma customization
$body-size: 14px;
$primary: #2D3947;

$navbar-item-color: $white;
$navbar-item-active-background-color: rgb(120, 156, 197);

$fa-font-path: "./fonts/";
@import './../../node_modules/font-awesome/scss/font-awesome';

@import './../../node_modules/bulma/bulma';

@import "./prism-fsharp";

.bd-special-shadow {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
	height: 8px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 100%;
	transform: scaleY(0);
	transform-origin: center top;
}

.navbar {
    .title {
        color: white;
    }
}

.function-doc {
    .function-doc-headers {
        .column {
            font-weight: bold;
        }
    }

    .columns:not(:last-child) {
        border-bottom: solid 1px black;
    }

}

// Override bulma .number class for prismjs classes
.fsharp,
.language-fsharp {
    .number {
        align-items: inherit !important;
        background-color: inherit !important;
        border-radius: inherit !important;
        display: inherit !important;
        font-size: inherit !important;
        // height: inherit !important;
        justify-content: inherit !important;
        margin-right: inherit !important;
        min-width: inherit !important;
        padding: inherit !important;
        text-align: inherit !important;
        vertical-align: inherit !important;
    }

}
